*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
.c {
    width: 100%;
    justify-content: left;
    padding-top: 5px;
    background-color: white;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

.search {
    display: flex;
    flex-direction: row;
}
.search input {
    border-radius: 3px;
    width: 80%;
    height: 35px;
    border: none;
    
}


@media (max-width: 480px){
    .cuotas {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .header-container {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    .logosearch {
        display: flex;
        flex-direction: row;
    }
    .logo {
        width: 45%;
        padding: 5%;
    }
    .search {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        align-items: center; 
      }

    .navegacion {
        display: none;
    }

}

@media (min-width: 480px){
    .cuotas {
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .header-container {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logosearch {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: 40%;
        margin-right: 5%;
    }
    .search {
        width: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        align-items: center; /* center vertically */
      }
    div.burger-menu {
        display: none;
    }
    .navegacion {
        display: flex;
        justify-content: space-around;
    }

    .navegacion ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-inline-start: 40px;
    }
    .navegacion ul li {
        font-size: small;
        margin: 5px;
        
    }
    .navegacion ul li a {
        text-decoration: none;
        color: #000;
    }
}


@media (min-width: 768px){
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .logosearch {
        width: 66%;
        display: flex;
        flex-direction: row;
        padding: 0px;
    }
    .container p {
        font-size: medium;
    }
    .navegacion ul li {
        font-size: medium;
        margin: 5px;
        
    }
}

header{
    background-color: #EAC926;
}





div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}



@media (min-width: 480px){
    main section article .description{
        display: block;
    }


    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition-duration: 700ms;
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }

    
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}

article .description {
    visibility: hidden;
    
}
article:hover .description{
    visibility: visible;
    transition: opacity;
    transition-duration: 1000ms;
    
}

article:hover .fa-truck{
    rotate: -100grad;
    transition-duration: 400ms;
}

.login .enviar:hover  {
    color: white;
    background-color: #0022AA;
}

footer section {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}



.caja {
    background-color: white;
    width: 33%;
    text-align: center;
    height: 100%;
    padding: 50px;

    
    
}

.caja .desc{
    color:  rgb(87, 87, 87);
}

.caja .title {
    font-weight: bold;
    font-size: medium;
    margin-top: 10px;
    color: rgb(87, 87, 87);
    
}

.fa-user-shield:hover {
    color: rgb(61, 61, 153);
    transition: 200ms;
}

.fa-user-shield {
    color: #1259c3;
    ;
    
}

.fa-gift:hover {
    color: rgb(61, 61, 153);
    transition: 200ms;
}
.fa-gift {
    color: #1259c3;
    ;
    
}

.fa-credit-card:hover {
    color: rgb(61, 61, 153);
    transition: 200ms;
}

.fa-credit-card {
    color: #1259c3;
    ;
    
}
@media (max-width: 768px){
    .benefits .caja {
        padding: 0%;
    }
    .benefits-container {
        width: 100%;
    }
    .benefits {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .benefits p {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .benefits .caja {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
}
/* footer {
position: absolute;
bottom: 0;
} */